body {margin: 0}
p, h1, h2, h3, h4, h5, h6 {margin: 0}
section {}

header {width: 100%; height: 80px;position: relative;}
menu{display: block; position: relative; width: 1000%; height: 100%;margin: 0 auto;background-color: #ffffff;}
menu ul{overflow: hidden;margin: 0 70px;}
menu ul li{float: left;list-style-type: none;margin-top: 20px;}
menu ul li img{margin-right: 70px;}
menu ul li a{display: block;padding: 15px;color: dimgray;text-decoration: none;}

.header1{display: block; font-size: 50px; font-weight: 300px;width: 350px;height: 60px; color: rgba(218, 28, 92, 1.00);font-family:Lato;text-align: center; position: absolute;top: 0; bottom:0;left:0; right:0; margin: 100px auto;padding: 10px;background-color:rgba(44, 46, 61, 0.90)}

.header2{display: block; font-size: 20px; font-weight: 300;height: 30px;width: 520px; color: white;font-family:Lato;text-align: center; position: absolute;top: 0; bottom:0;left:0; right:0; margin: 200px auto;background-color:rgba(44, 46, 61, 0.90);padding: 5px;}

.header3{display: block; font-size: 20px; font-weight: 300;height: 30px;width: 200px; color: white;font-family:Lato;text-align: center; position: absolute;top: 0; bottom:0;left:0; right:0; margin: 250px auto;padding: 5px;background-color:rgba(44, 46, 61, 0.90)}



center {width: 100%; height: auto; background: ; margin-top: 0; margin-bottom: 50px;position: relative }

page img {width: 100%;height: 100%;}
page {display: block; width: 100%;}
page p{color: #fff;font-size: 22px}

news {display: block; width: 80%; overflow: hidden; margin: 75px auto; position: relative;}
.new {width: 23%; height: 450px; background: #ff0; float: left;margin: 0 40px 0 0;background: white;}
.new img{width: 100%;height: 180px;margin-bottom: 20px;size:cover;}
.new p{color: grey; font-family:Lato; text-align: left;line-height: 1.5;margin: 20px 0;}

.block1 {width: 23%; height: 450px; background: rgba(218, 28, 92, 1.00); float: left;margin: 0 0 0 auto}
.block1 p {color: whitesmoke; font-family:Lato; text-align: left;margin: 20px 20px;line-height: 1.5;}

.block2{ height: 550px;}

.a{height: 100%;width: 50%;float: left;background-image: url(../images/home-bl-left.jpg);}
.a h1{color: white; font-family:Lato; text-align: left;line-height: 1.5;margin: 100px
    50px 30px;;font-size: 30px;}
.a p{color: white; font-family:Lato; text-align: left;line-height: 1.5;margin: 30px 50px;font-size: 17px;}
.a a{display: block;padding: 10px 5px 5px 5px; width: 110px; height:30px; background-color:rgba(218, 28, 92, 1.00);color: white;text-decoration: none;float:left;margin: 0 0 0 50px; }

.b{height: 100%;width: 50%;background: yellow;float: left;column-count: 2;column-width: 50%;background-color:#f7f7f7 }
.b p{color: grey;font-family:Lato;line-height: 1.5;padding: 30px 40px 0 65px;text-align: left;font-size: 19px;;}
.b img{float: left;}

.more{display: block; width: 80%;height: 500px; overflow: hidden; margin: 100px auto; position: relative;}
.artimimage{width: 340px;height: 90%; float: left;margin: 2% 2% 2% 0;;background: white;}
.artimimage img {width: 100%;height: 100%;}
.readmore{width: 20%;height: 100%; background-color:rgba(44, 46, 61, 0.90); float: left;margin: 0 1%;}
.readmore img{width: 100%;height: 160px; }
.readmore p{text-align: left;color: white;font-family:Lato;line-height: 1.5;margin: 20px 30px;}
.readmore a{display: block;padding: 5px; width: 90px; height:20px;float: right; background-color:rgba(218, 28, 92, 1.00);color: white;text-decoration: none; }

.watch_artim{display: block; width: 100%;height: 700px; background-color: #f7f7f7; margin: 100px 0;}
.watch_text{width: 50%;height: 100%;float: left;}
.watch_text h1{display:block; color: grey;font-size: 30px;font-family:'Lato';text-align: left; padding: 100px;padding-bottom: 20px; }
.watch_text p{display:block; color: grey;font-size: 18px;font-family:'Lato';text-align: left; padding: 15px 100px;line-height: 1.5; }
.watch_text a{display: block;padding: 10px 5px 5px 5px; width: 110px; height:30px; background-color:rgba(218, 28, 92, 1.00);color: white;text-decoration: none;float:left;margin: 20px 0 20px 100px;}
.watch_image{width: 50%;height: 100%;float: left;}
.watch_image img{margin: 50px 0;margin-right: 300px;}


.wordpress{width: 100%;height: 420px;background-image: url(../images/home-bl-lef.jpg);overflow: hidden;}
.wordpress h1{display:block; color: white;font-size: 30px;font-family:'Lato';text-align: center; padding: 100px 0 0 0; }
.wordpress p{color: white;font-size: 15px;font-family:'Lato'; padding: 30px;width: 700px;}
.wordpress_buttons{width: 20%;height: 40px;}
.button{display: block; width: 45%; height: 100%; float:left;margin:0 2%;background-color: rgba(218, 28, 92, 1.00);}
.button a{display: block; color: white;text-decoration: none; padding: 10px;}

.our_team{width: 80%;height: 600px;margin-top: 70px;}
.team{width: 28%;height: 100%; margin: 0 20px;float: left;}
.team img{width: 100%; ;}
.team p{text-align: left;color: grey;font-family:Lato;line-height: 1.5;margin:20px 0;}
.team h4{text-align: left;color: rgba(218, 28, 92, 1.00);font-family:Lato;line-height: 1.5;}

