<div class="our_team">
                    <div class="team">
                        <img src="assets/images/avatar02.jpg">
                        <p><strong>David Miller</strong></p>
                        <h4>CEO</h4>
                        <p>Kitsch PBR selvage, banjo post-ironic master cleanse hoodie plaid put a bird on it dreamcatcher quinoa. Chia single-origin coffee Etsy, locavore Shoreditch twee whatever messenger.</p>
                    </div>
                    
                    <div class="team">
                        <img src="assets/images/avatar05.jpg">
                        <p><strong>Milla Smith</strong></p>
                        <h4>Designer</h4>
                        <p>Kitsch PBR selvage, banjo post-ironic master cleanse hoodie plaid put a bird on it dreamcatcher quinoa. Chia single-origin coffee Etsy, locavore Shoreditch twee whatever messenger.</p>
                    </div> 
                    <div class="team">
                        <img src="assets/images/avatar03.jpg">
                         <p><strong>David Miller</strong></p>
                        <h4>Designer</h4>
                        <p>Kitsch PBR selvage, banjo post-ironic master cleanse hoodie plaid put a bird on it dreamcatcher quinoa. Chia single-origin coffee Etsy, locavore Shoreditch twee whatever messenger.</p>
                    </div>
                </div>