<div class="our_team">
                    <div class="team" *ngFor="let block of ourTeamBlock">
                        <img src="{{block.image}}">
                        <p><strong>{{block.name}}</strong></p>
                        <h4>{{block.position}}</h4>
                        <p>Kitsch PBR selvage, banjo post-ironic master cleanse hoodie plaid put a bird on it dreamcatcher quinoa. Chia single-origin coffee Etsy, locavore Shoreditch twee whatever messenger.</p>
                    </div>
                </div>