 <div class="wordpress">
                    <h1>ARTIM WORDPRESS THEME</h1>
                    <p>Health goth flannel hella Godard, whatever Blue Bottle aesthetic. American Apparel salvia biodiesel cornhole.
                        Kogi farm-to-table messenger bag four dollar toast. Pitchfork Bushwick ennui gentrify.</p>
                    <div class="wordpress_buttons">
                        <div class="button"><a href="">Contact Us</a></div>
                        <div class="button"><a href="">Details More</a></div>
                    </div>
</div>
