<header>
              <menu>
               
                  <ul>
                      <li><img src="assets/images/new-logo-site.png"></li>
                      <li><a href="http://newthemes.net/artim/">Home</a></li>
                      <li><a href="http://newthemes.net/artim/headers/">Headers</a></li>
                      <li><a href="http://newthemes.net/artim/about-us/">About Us</a></li>
                      <li><a href="http://newthemes.net/artim/template_services/">Services</a></li>
                      <li><a href="">Portfolio</a></li>
                      <li><a href="http://newthemes.net/artim/elements/">Elements</a></li>
                      <li><a href="http://newthemes.net/artim/shop/">Shop</a></li>
                      <li><a href="http://newthemes.net/artim/right-sidebar/">Blog</a></li>
                      <li><a href="http://newthemes.net/artim/features/">Features</a></li>
                      <li><a href="">Sliders</a></li>
                      <li><a href="http://newthemes.net/artim/contact/">Contact</a></li>
                  </ul>
                  
                </menu>
</header>