$main-color: #ffffff;
$main-text-color: white;
$pink-color: rgba(218, 28, 92, 1.00);
$grrey: rgba(44, 46, 61, 0.90);
$font: 'Lato';
$img-width: 100%;
$pcolor: grey;
$lh: 1.5;
$small-block-width: 23%;
$title-font-size: 30px;
$main-font-size: 19px;
$light-grey: #f7f7f7;