<div class="news">
                    <div class="new" *ngFor="let block of newsBlock">
                        <img src="{{block.image}}">
                        <p><strong>{{block.title}}</strong></p>
                        <p>Kitsch PBR selvage, banjo post-ironic master cleanse hoodie plaid put a bird on it dreamcatcher quinoa. Chia single-origin coffee Etsy, locavore Shoreditch twee whatever messenger.</p>
                    </div>
                    
                     <div class="block1">
                         <img src="assets/images/home2-tblock.jpg" height="100%"></div>
                    <div class="block1">
                        <p><strong>Enjoy Nature</strong></p>
                        <p>Kitsch PBR selvage, banjo post-ironic master cleanse hoodie plaid put a bird on it dreamcatcher quinoa. Chia single-origin coffee Etsy, locavore Shoreditch twee whatever messenger.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
</div>