<div class="more">
                    <div class="artimimage"><img src="assets/images/artim-l-2-787x1024.png"></div>
                     <div class="readmore" *ngFor='let block of moreBlock'>
                         <img src="{{block.image}}">
                         <p><strong>{{block.title}}</strong></p>
                         <p>Kitsch PBR selvage, banjo post-ironic master cleanse hoodie plaid put a bird on it dreamcatcher quinoa. Chia single-origin coffee Etsy, locavore Shoreditch twee whatever messenger.</p>
                         <a href="">Read More</a>
                    </div>
                     
</div>