 <div class="block2">
                        <div class="a">
                        <h1>What We Believe</h1>
                        <p>Mlkshk shabby chic chia, flannel tofu organic bespoke. Cred farm-to-table cliche health goth bespoke.</p>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for ‘lorem ipsum’ will uncover many web sites still in their infancy.</p>
                        <a href="">Contact Us!</a>
                        </div>
                        <div class="b">
                            <div class="bb" *ngFor="let block of bBlock">
                            
                            <p><strong>{{block.title}}</strong></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                           
                            </div >                            
                        
                        
                        </div>
</div>